<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
	<div class="col-12 col-lg-6">
		<img src="/image/blueberries.jpg" width="400" height="300" class="d-block mx-lg-auto img-fluid" loading="lazy" alt="Time to Cook">
	</div>
	<div class="col-12 col-lg-6">

		<h1 class="display-5 fw-bold mb-3">Recipes Ideas</h1>
		<p class="lead"> Discover delicious recipes to tantalize your taste buds and Explore a world of culinary delights with our recipe collection.  </p>

		<div class="d-grid gap-2 d-md-flex justify-content-md-start">
			<a href="/explore-latest" class="btn btn-primary btn-dark btn-lg px-4 me-md-2">Explore Latest Recipes</a>
			<a href="/explore-random" class="btn btn-secondary btn-lg px-4 me-md-2">Show random Recipe</a>
		</div>
	</div>
</div>


<!-- Categories Start-->

 <div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-4">

	<% if (categories != '') { %>
		<% categories.forEach(function(category, index){ %>
	<a href="/categories/<%- category.name %>" class="col text-center category_link">
		<div class="category_img shadow">
			<img src="/image/<%- category.image %>" alt="<%- category.name %>" loading="lazy" width="200" height="200">
		</div>
		<div class="pt-1"><%- category.name %></div>
	</a>
	<% }) %>
	<% } %>

	<a href="/categories" class="col text-center category_link">
		<div class="category_img shadow">
			<img src="/image/view-all.jpg" alt="View all" loading="lazy" width="200" height="200">
		</div>
		<div class="pt-1">View All</div>
	</a>
 </div>

 <!-- Categories End-->



 <!-- Latest start  -->

<section class="pb-4 pt-4">
	<div class="d-flex mb-2 align-items-center">
		<h2 class="text-center">Latest Recipes</h2>
		<a href="/explore-latest" class="ms-auto">View More</a>
	</div>

	<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">

		<% if (food != '') { %>
			<% food.latest.forEach(function(recipe, index){ %>
		<a href="/recipe/<%= recipe._id %>" class="col text-center category_link">
			<div class="category_img category_img--lg shadow">
			<img src="/uploads/<%= recipe.image %>" alt="<%= recipe.name %>" loading="lazy" width="200" height="330">
		</div>
		<div class="pt-1"><%= recipe.name %></div>
		</a>
		<% }) %>
		<% } %>
	</div>

	
</section>

  <!-- Latest End  -->

   <!-- Thai start  -->

<section class="pb-4 pt-4">
	<div class="d-flex mb-2 align-items-center">
		<h2 class="text-center">Thai Recipes</h2>
		<a href="/categories/Thai" class="ms-auto">View More</a>
	</div>

	<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">

		<% if (food.thai != '') { %>
			<% food.thai.forEach(function(recipe, index){ %>
		<a href="/recipe/<%= recipe._id %>" class="col text-center category_link">
			<div class="category_img category_img--lg shadow">
			<img src="/uploads/<%= recipe.image %>" alt="<%= recipe.name %>" loading="lazy" width="200" height="330">
		</div>
		<div class="pt-1"><%= recipe.name %></div>
		</a>
		<% }) %>
		<% } %>
	</div>
</section>

  <!-- Thai End  -->

  <!-- Italian start -->

  <section class="pb-4 pt-4">
	<div class="d-flex mb-2 align-items-center">
		<h2 class="text-center">Italian Recipes</h2>
		<a href="/categories/Italian" class="ms-auto">View More</a>
	</div>

	<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">

		<% if (food.italian != '') { %>
			<% food.italian.forEach(function(recipe, index){ %>
		<a href="/recipe/<%= recipe._id %>" class="col text-center category_link">
			<div class="category_img category_img--lg shadow">
			<img src="/uploads/<%= recipe.image %>" alt="<%= recipe.name %>" loading="lazy" width="200" height="330">
		</div>
		<div class="pt-1"><%= recipe.name %></div>
		</a>
		<% }) %>
		<% } %>
	</div>
	</section>

	<!-- Italian end  -->

	<!-- Spanish start  -->

	 <section class="pb-4 pt-4">
	<div class="d-flex mb-2 align-items-center">
		<h2 class="text-center">Spanish Recipes</h2>
		<a href="/categories/Spanish" class="ms-auto">View More</a>
	</div>

	<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">

		<% if (food.spanish != '') { %>
			<% food.spanish.forEach(function(recipe, index){ %>
		<a href="/recipe/<%= recipe._id %>" class="col text-center category_link">
			<div class="category_img category_img--lg shadow">
			<img src="/uploads/<%= recipe.image %>" alt="<%= recipe.name %>" loading="lazy" width="200" height="330">
		</div>
		<div class="pt-1"><%= recipe.name %></div>
		</a>
		<% }) %>
		<% } %>
	</div>

	
</section>

	<!-- Spanish end  -->

	<!-- American start  -->

	<section class="pb-4 pt-4">
	<div class="d-flex mb-2 align-items-center">
		<h2 class="text-center">American Recipes</h2>
		<a href="/categories/American" class="ms-auto">View More</a>
	</div>

	<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">

		<% if (food.american != '') { %>
			<% food.american.forEach(function(recipe, index){ %>
		<a href="/recipe/<%= recipe._id %>" class="col text-center category_link">
			<div class="category_img category_img--lg shadow">
			<img src="/uploads/<%= recipe.image %>" alt="<%= recipe.name %>" loading="lazy" width="200" height="330">
		</div>
		<div class="pt-1"><%= recipe.name %></div>
		</a>
		<% }) %>
		<% } %>
	</div>

	
</section>

<!-- American end  -->





<!-- Kenyan start  -->

<section class="pb-4 pt-4">
	<div class="d-flex mb-2 align-items-center">
		<h2 class="text-center">Kenyan Recipes</h2>
		<a href="/categories/Kenyan" class="ms-auto">View More</a>
	</div>

	<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">

		<% if (food.kenyan != '') { %>
			<% food.kenyan.forEach(function(recipe, index){ %>
		<a href="/recipe/<%= recipe._id %>" class="col text-center category_link">
			<div class="category_img category_img--lg shadow">
			<img src="/uploads/<%= recipe.image %>" alt="<%= recipe.name %>" loading="lazy" width="200" height="330">
		</div>
		<div class="pt-1"><%= recipe.name %></div>
		</a>
		<% }) %>
		<% } %>
	</div>
	</section>

<!-- Kenyan end  -->




<!-- Mexican start  -->


<section class="pb-4 pt-4">
	<div class="d-flex mb-2 align-items-center">
		<h2 class="text-center">Mexican recipes</h2>
		<a href="/categories/Mexican" class="ms-auto">View More</a>
	</div>

	<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">

		<% if (food.mexican != '') { %>
			<% food.mexican.forEach(function(recipe, index){ %>
		<a href="/recipe/<%= recipe._id %>" class="col text-center category_link">
			<div class="category_img category_img--lg shadow">
			<img src="/uploads/<%= recipe.image %>" alt="<%= recipe.name %>" loading="lazy" width="200" height="330">
		</div>
		<div class="pt-1"><%= recipe.name %></div>
		</a>
		<% }) %>
		<% } %>
	</div>
	</section>




<!-- Mexican end  -->





<!-- Japanese start  -->

<!-- Japanese end  -->

</section>






































  <!-- Submit start  -->

<section class="px-4 py-5 my-5 text-center">
	<img src="/image/Publish.jpg" class="d-block mx-auto mb-4 img-fluid" alt="Publish your recipes for FREE!!!" width="400" height="300" loading="lazy">
	<h1 class="display-5 fw-bold">Publish your recipes for FREE!!!</h1>
	<div class="col=lg-6 mx-auto">
		<p class="lead">Share your cooking skills with the world. Create an account and start for free </p>
		<div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
			<a href="/submit-recipe" class="btn btn-primary btn-dark btn-lg">SUBMIT RECIPE</a>
		</div>
	</div>
</section>






   <!-- Submit End -->